In [48]:
from sqlalchemy import MetaData
from sqlalchemy import Table
from sqlalchemy import select
from sqlalchemy import or_

In [224]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [132]:
import numpy as np

In [41]:
from sqlalchemy import create_engine
import pandas as pd


engine = create_engine('postgresql://arcarter:localhost@localhost:5432/tennis')

aus_men = pd.read_csv('./tennis/AusOpen-men-2013.csv')

# I'm choosing to name this table "aus_men"
aus_men.to_sql('aus_men2', engine, index=False)

In [47]:
from sqlalchemy import inspect

#db_uri = 'sqlite:///db.sqlite'
#engine = create_engine(db_uri)

inspector = inspect(engine)

# Get table information
print(inspector.get_table_names())

# Get column information
print(inspector.get_columns('aus_men'))

['aus_men', 'aus_women', 'fre_women', 'us_women', 'wim_women', 'fre_men', 'us_men', 'wim_men', 'aus_men2']
[{'name': 'Player1', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'Player2', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'Round', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'Result', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'FNL1', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'FNL2', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'FSP.1', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'FSW.1', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'SSP.1', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'SSW.1', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'ACE.1', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'DBF.1', 'type': DOUBLE_PRECISION(precision=53), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'WNR.1', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'UFE.1', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'BPC.1', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'BPW.1', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'NPA.1', 'type': DOUBLE_PRECISION(precision=53), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'NPW.1', 'type': DOUBLE_PRECISION(precision=53), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'TPW.1', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'ST1.1', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'ST2.1', 'type': DOUBLE_PRECISION(precision=53), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'ST3.1', 'type': DOUBLE_PRECISION(precision=53), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'ST4.1', 'type': DOUBLE_PRECISION(precision=53), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'ST5.1', 'type': DOUBLE_PRECISION(precision=53), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'FSP.2', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'FSW.2', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'SSP.2', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'SSW.2', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'ACE.2', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'DBF.2', 'type': DOUBLE_PRECISION(precision=53), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'WNR.2', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'UFE.2', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'BPC.2', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'BPW.2', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'NPA.2', 'type': DOUBLE_PRECISION(precision=53), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'NPW.2', 'type': DOUBLE_PRECISION(precision=53), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'TPW.2', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'ST1.2', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'ST2.2', 'type': DOUBLE_PRECISION(precision=53), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'ST3.2', 'type': DOUBLE_PRECISION(precision=53), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'ST4.2', 'type': DOUBLE_PRECISION(precision=53), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'ST5.2', 'type': DOUBLE_PRECISION(precision=53), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}]

In [12]:
aus_women = pd.read_csv('./tennis/AusOpen-women-2013.csv')

aus_women.to_sql('aus_women', engine, index=False)

In [13]:
fre_women = pd.read_csv('./tennis/FrenchOpen-women-2013.csv')

fre_women.to_sql('fre_women', engine, index=False)

In [200]:
us_women = pd.read_csv('./tennis/USOpen-women-2013.csv')

us_women.to_sql('us_women', engine, index=False)

In [15]:
wim_women = pd.read_csv('./tennis/Wimbledon-women-2013.csv')

wim_women.to_sql('wim_women', engine, index=False)

In [16]:
fre_men = pd.read_csv('./tennis/FrenchOpen-men-2013.csv')

fre_men.to_sql('fre_men', engine, index=False)

In [17]:
us_men = pd.read_csv('./tennis/USOpen-men-2013.csv')

us_men.to_sql('us_men', engine, index=False)

In [18]:
wim_men = pd.read_csv('./tennis/Wimbledon-men-2013.csv')

wim_men.to_sql('wim_men', engine, index=False)

In [ ]:
####################################################################################

In [ ]:
# 1. Total Matches Played

In [105]:
query = '''
CREATE TABLE Player_1_Count2 AS
SELECT "Player1",count("Player1") as When_Player1_Count
FROM aus_men
GROUP BY "Player1"
ORDER BY count("Player1") DESC;'''
df_player1_new_table = pd.read_sql(query, engine)

'\nquery = \'\'\'\nCREATE TABLE Player_1_Count2 AS\nSELECT "Player1",count("Player1") as When_Player1_Count\nFROM aus_men\nGROUP BY "Player1"\nORDER BY count("Player1") DESC;\'\'\'\ndf_player1_new_table = pd.read_sql(query, engine)\n'

In [107]:
query = '''
SELECT *
FROM Player_1_Count2;'''
df_player1_new_table2 = pd.read_sql(query, engine)

In [108]:
df_player1_new_table2

               Player1  when_player1_count
0         Rafael Nadal                   7
1        Tomas Berdych                   6
2          Andy Murray                   5
3   Stanislas Wawrinka                   4
4   Jo-Wilfried Tsonga                   4
..                 ...                 ...
71     Thomaz Bellucci                   1
72         Sam Querrey                   1
73   Ricardas Berankis                   1
74    Santiago Giraldo                   1
75     Alejandro Falla                   1

[76 rows x 2 columns]

In [110]:
query = '''
CREATE TABLE Player_2_Count2 AS
SELECT "Player2",count("Player2") as When_Player2_Count
FROM aus_men
GROUP BY "Player2"
ORDER BY count("Player2") DESC;'''
pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [111]:
query = '''
SELECT *
FROM Player_2_Count2;'''
df_player2_new_table2 = pd.read_sql(query, engine)

In [112]:
df_player2_new_table2

                   Player2  when_player2_count
0            Roger Federer                   6
1             David Ferrer                   5
2           Novak Djokovic                   5
3            Kei Nishikori                   4
4          Grigor Dimitrov                   4
..                     ...                 ...
75             Blaz Kavcic                   1
76       Michal Przysiezny                   1
77  Guillermo Garcia-Lopez                   1
78                Go Soeda                   1
79       Federico Delbonis                   1

[80 rows x 2 columns]

In [143]:
query = '''
SELECT "Player2", when_player2_count, "Player1", when_player1_count, (when_player2_count+when_player1_count) as Total_Matches
FROM Player_2_Count2
FULL JOIN Player_1_Count2 ON Player_1_Count2."Player1" = Player_2_Count2."Player2";'''
df_players_combined = pd.read_sql(query, engine)

In [144]:
df_players_combined = df_players_combined.replace(np.nan, 0)

In [308]:
query = '''
CREATE TABLE aus_m_matches AS SELECT COALESCE(Player_2_Count2."Player2", Player_1_Count2."Player1") as id,
"Player2", when_player2_count, "Player1", when_player1_count,COALESCE(when_player2_count,0) + COALESCE(when_player1_count,0) AS Total_Matches
FROM Player_2_Count2
FULL JOIN Player_1_Count2 ON Player_1_Count2."Player1" = Player_2_Count2."Player2"
ORDER BY Total_Matches DESC
;'''
pd.read_sql(query, engine)

ProgrammingError: (psycopg2.errors.DuplicateTable) relation "aus_m_matches" already exists

[SQL:
CREATE TABLE aus_m_matches AS SELECT COALESCE(Player_2_Count2."Player2", Player_1_Count2."Player1") as id,
"Player2", when_player2_count, "Player1", when_player1_count,COALESCE(when_player2_count,0) + COALESCE(when_player1_count,0) AS Total_Matches
FROM Player_2_Count2
FULL JOIN Player_1_Count2 ON Player_1_Count2."Player1" = Player_2_Count2."Player2"
ORDER BY Total_Matches DESC
;]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [309]:
query = '''
SELECT * FROM aus_m_matches;
'''
aus_m_df_players_combined = pd.read_sql(query, engine)

In [395]:
query = '''
ALTER TABLE aus_m_matches 
ADD COLUMN initial_and_last VARCHAR; 

'''
pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [396]:
query = '''
UPDATE aus_m_matches SET initial_and_last=concat(SUBSTRING(id, 1, 1 ),' ',split_part(id, ' ', 2));
'''
pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [400]:
query = '''
SELECT * FROM aus_m_matches
;
'''
aus_m_df_players_combined = pd.read_sql(query, engine)
aus_m_df_players_combined.head()

                   id             Player2  when_player2_count             Player1  when_player1_count  total_matches initial_and_last
0        Rafael Nadal                None                 NaN        Rafael Nadal                 7.0              7          R Nadal
1       Roger Federer       Roger Federer                 6.0                None                 NaN              6        R Federer
2  Stanislas Wawrinka  Stanislas Wawrinka                 2.0  Stanislas Wawrinka                 4.0              6       S Wawrinka
3       Tomas Berdych                None                 NaN       Tomas Berdych                 6.0              6        T Berdych
4      Novak Djokovic      Novak Djokovic                 5.0                None                 NaN              5       N Djokovic

In [310]:
aus_m_df_players_combined.shape

(128, 6)

In [311]:
aus_m_df_players_combined.head(150)

                         id                 Player2  when_player2_count                 Player1  when_player1_count  total_matches
0              Rafael Nadal                    None                 NaN            Rafael Nadal                 7.0              7
1             Roger Federer           Roger Federer                 6.0                    None                 NaN              6
2        Stanislas Wawrinka      Stanislas Wawrinka                 2.0      Stanislas Wawrinka                 4.0              6
3             Tomas Berdych                    None                 NaN           Tomas Berdych                 6.0              6
4            Novak Djokovic          Novak Djokovic                 5.0                    None                 NaN              5
5           Grigor Dimitrov         Grigor Dimitrov                 4.0         Grigor Dimitrov                 1.0              5
6               Andy Murray                    None                 NaN             Andy Murray                 5.0              5
7              David Ferrer            David Ferrer                 5.0                    None                 NaN              5
8             Kei Nishikori           Kei Nishikori                 4.0                    None                 NaN              4
9        Jo-Wilfried Tsonga                    None                 NaN      Jo-Wilfried Tsonga                 4.0              4
10            Tommy Robredo           Tommy Robredo                 1.0           Tommy Robredo                 3.0              4
11    Roberto Bautista Agut   Roberto Bautista Agut                 2.0   Roberto Bautista Agut                 2.0              4
12           Kevin Anderson          Kevin Anderson                 1.0          Kevin Anderson                 3.0              4
13            Florian Mayer           Florian Mayer                 1.0           Florian Mayer                 3.0              4
14            Fabio Fognini                    None                 NaN           Fabio Fognini                 4.0              4
15          Stephane Robert         Stephane Robert                 1.0         Stephane Robert                 3.0              4
16          Feliciano Lopez         Feliciano Lopez                 3.0                    None                 NaN              3
17              Sam Querrey             Sam Querrey                 2.0             Sam Querrey                 1.0              3
18      Teymuraz Gabashvili     Teymuraz Gabashvili                 1.0     Teymuraz Gabashvili                 2.0              3
19           Jerzy Janowicz          Jerzy Janowicz                 3.0                    None                 NaN              3
20             Gael Monfils            Gael Monfils                 3.0                    None                 NaN              3
21             Donald Young            Donald Young                 2.0            Donald Young                 1.0              3
22          Richard Gasquet         Richard Gasquet                 3.0                    None                 NaN              3
23             Gilles Simon            Gilles Simon                 3.0                    None                 NaN              3
24             Benoit Paire                    None                 NaN            Benoit Paire                 3.0              3
25             Milos Raonic                    None                 NaN            Milos Raonic                 3.0              3
26            Martin Klizan           Martin Klizan                 2.0           Martin Klizan                 1.0              3
27   Edouard Roger-Vasselin  Edouard Roger-Vasselin                 2.0  Edouard Roger-Vasselin                 1.0              3
28            Damir Dzumhur           Damir Dzumhur                 2.0           Damir Dzumhur                 1.0              3
29            Denis Istomin           Denis Istomin                 2.0           Denis Istomin                 1.0              3
30            Jeremy Chardy                    None                 NaN           Jeremy Chardy                 3.0              3
31             Nick Kyrgios            Nick Kyrgios                 1.0            Nick Kyrgios                 1.0              2
32        Fernando Verdasco                    None                 NaN       Fernando Verdasco                 2.0              2
33          Jarkko Nieminen         Jarkko Nieminen                 2.0                    None                 NaN              2
34          Alejandro Falla         Alejandro Falla                 1.0         Alejandro Falla                 1.0              2
35   Guillermo Garcia-Lopez  Guillermo Garcia-Lopez                 1.0  Guillermo Garcia-Lopez                 1.0              2
36          Dmitry Tursunov                    None                 NaN         Dmitry Tursunov                 2.0              2
37           Vincent Millot          Vincent Millot                 1.0          Vincent Millot                 1.0              2
38       Thanasi Kokkinakis      Thanasi Kokkinakis                 1.0      Thanasi Kokkinakis                 1.0              2
39        Michal Przysiezny       Michal Przysiezny                 1.0       Michal Przysiezny                 1.0              2
40         Julien Benneteau        Julien Benneteau                 2.0                    None                 NaN              2
41      Alexandr Dolgopolov     Alexandr Dolgopolov                 2.0                    None                 NaN              2
42        Kenny De Schepper       Kenny De Schepper                 2.0                    None                 NaN              2
43              Marin Cilic                    None                 NaN             Marin Cilic                 2.0              2
44                Jack Sock               Jack Sock                 1.0               Jack Sock                 1.0              2
45          Mikhail Youzhny                    None                 NaN         Mikhail Youzhny                 2.0              2
46           Leonardo Mayer                    None                 NaN          Leonardo Mayer                 2.0              2
47              Blaz Kavcic             Blaz Kavcic                 1.0             Blaz Kavcic                 1.0              2
48         Adrian Mannarino        Adrian Mannarino                 1.0        Adrian Mannarino                 1.0              2
49    Juan Martin Del Potro   Juan Martin Del Potro                 2.0                    None                 NaN              2
50               Ivan Dodig              Ivan Dodig                 2.0                    None                 NaN              2
51            Andreas Seppi                    None                 NaN           Andreas Seppi                 2.0              2
52              Yen-Hsun Lu             Yen-Hsun Lu                 1.0             Yen-Hsun Lu                 1.0              2
53          Thomaz Bellucci         Thomaz Bellucci                 1.0         Thomaz Bellucci                 1.0              2
54           Ernests Gulbis          Ernests Gulbis                 2.0                    None                 NaN              2
55           Victor Hanescu          Victor Hanescu                 2.0                    None                 NaN              2
56           Michael Berrer                    None                 NaN          Michael Berrer                 2.0              2
57           Vasek Pospisil          Vasek Pospisil                 2.0                    None                 NaN              2
58            Dusan Lajovic                    None                 NaN           Dusan Lajovic                 2.0              2
59            Matthew Ebden           Matthew Ebden                 1.0           Matthew Ebden                 1.0              2
60            Dominic Thiem           Dominic Thiem                 1.0           Dominic Thiem                 1.0              2
61        Nikolay Davydenko                    None                 NaN       Nikolay Davydenko                 2.0              2
62            Pablo Andujar           Pablo Andujar                 1.0           Pablo Andujar                 1.0              2
63                Blaz Rola                    None                 NaN               Blaz Rola                 2.0              2
64         Somdev Devvarman                    None                 NaN        Somdev Devvarman                 1.0              1
65            Igor Sijsling           Igor Sijsling                 1.0                    None                 NaN              1
66           Frank Dancevic          Frank Dancevic                 1.0                    None                 NaN              1
67         Horacio Zeballos        Horacio Zeballos                 1.0                    None                 NaN              1
68        Marcel Granollers       Marcel Granollers                 1.0                    None                 NaN              1
69               John Isner              John Isner                 1.0                    None                 NaN              1
70              Lukas Rosol             Lukas Rosol                 1.0                    None                 NaN              1
71               Joao Sousa              Joao Sousa                 1.0                    None                 NaN              1
72           Michael Llodra          Michael Llodra                 1.0                    None                 NaN              1
73               Tommy Haas              Tommy Haas                 1.0                    None                 NaN              1
74            Bernard Tomic           Bernard Tomic                 1.0                    None                 NaN              1
75           Julian Reister          Julian Reister                 1.0                    None                 NaN              1
76            Wayne Odesnik           Wayne Odesnik                 1.0                    None                 NaN              1
77           Lleyton Hewitt          Lleyton Hewitt                 1.0                    None                 NaN              1
78                 Ze Zhang                Ze Zhang                 1.0                    None                 NaN              1
79          Albert Montanes         Albert Montanes                 1.0                    None                 NaN              1
80             Lukasz Kubot            Lukasz Kubot                 1.0                    None                 NaN              1
81              Tim Smyczek             Tim Smyczek                 1.0                    None                 NaN              1
82        Sergiy Stakhovsky       Sergiy Stakhovsky                 1.0                    None                 NaN              1
83     Daniel Gimeno-Traver    Daniel Gimeno-Traver                 1.0                    None                 NaN              1
84        Mikhail Kukushkin       Mikhail Kukushkin                 1.0                    None                 NaN              1
85              Denis Kudla             Denis Kudla                 1.0                    None                 NaN              1
86             Aljaz Bedene            Aljaz Bedene                 1.0                    None                 NaN              1
87           Andrey Golubev          Andrey Golubev                 1.0                    None                 NaN              1
88       Alex Bogomolov Jr.      Alex Bogomolov Jr.                 1.0                    None                 NaN              1
89          Benjamin Becker         Benjamin Becker                 1.0                    None                 NaN              1
90            Lucas Pouille           Lucas Pouille                 1.0                    None                 NaN              1
91              Jiri Vesely             Jiri Vesely                 1.0                    None                 NaN              1
92        Jesse Huta Galung       Jesse Huta Galung                 1.0                    None                 NaN              1
93     Aleksandr Nedovyesov    Aleksandr Nedovyesov                 1.0                    None                 NaN              1
94         Filippo Volandri        Filippo Volandri                 1.0                    None                 NaN              1
95       Jan-Lennard Struff      Jan-Lennard Struff                 1.0                    None                 NaN              1
96          Michael Russell         Michael Russell                 1.0                    None                 NaN              1
97                 Go Soeda                Go Soeda                 1.0                    None                 NaN              1
98        Federico Delbonis       Federico Delbonis                 1.0                    None                 NaN              1
99             Albert Ramos                    None                 NaN            Albert Ramos                 1.0              1
100         Jordan Thompson                    None                 NaN         Jordan Thompson                 1.0              1
101         James Duckworth                    None                 NaN         James Duckworth                 1.0              1
102              David Guez                    None                 NaN              David Guez                 1.0              1
103     Pablo Carreno Busta                    None                 NaN     Pablo Carreno Busta                 1.0              1
104          Rhyne Williams                    None                 NaN          Rhyne Williams                 1.0              1
105            Tobias Kamke                    None                 NaN            Tobias Kamke                 1.0              1
106            Samuel Groth                    None                 NaN            Samuel Groth                 1.0              1
107               Dudi Sela                    None                 NaN               Dudi Sela                 1.0              1
108         Peter Gojowczyk                    None                 NaN         Peter Gojowczyk                 1.0              1
109          Radek Stepanek                    None                 NaN          Radek Stepanek                 1.0              1
110          Carlos Berlocq                    None                 NaN          Carlos Berlocq                 1.0              1
111             Juan Monaco                    None                 NaN             Juan Monaco                 1.0              1
112              Jimmy Wang                    None                 NaN              Jimmy Wang                 1.0              1
113           Ryan Harrison                    None                 NaN           Ryan Harrison                 1.0              1
114            Ivo Karlovic                    None                 NaN            Ivo Karlovic                 1.0              1
115        Marcos Baghdatis                    None                 NaN        Marcos Baghdatis                 1.0              1
116             Lukas Lacko                    None                 NaN             Lukas Lacko                 1.0              1
117       Marinko Matosevic                    None                 NaN       Marinko Matosevic                 1.0              1
118             Robin Haase                    None                 NaN             Robin Haase                 1.0              1
119           Nicolas Mahut                    None                 NaN           Nicolas Mahut                 1.0              1
120                   Di Wu                    None                 NaN                   Di Wu                 1.0              1
121           Daniel Brands                    None                 NaN           Daniel Brands                 1.0              1
122           Steve Johnson                    None                 NaN           Steve Johnson                 1.0              1
123        Santiago Giraldo                    None                 NaN        Santiago Giraldo                 1.0              1
124      Alejandro Gonzalez                    None                 NaN      Alejandro Gonzalez                 1.0              1
125       Ricardas Berankis                    None                 NaN       Ricardas Berankis                 1.0              1
126               Jan Hajek                    None                 NaN               Jan Hajek                 1.0              1
127           Bradley Klahn                    None                 NaN           Bradley Klahn                 1.0              1

In [68]:
query = '''
SELECT "Player2",count("Player2") 
FROM aus_men
GROUP BY "Player2"
ORDER BY count("Player2") DESC;'''
df_player2 = pd.read_sql(query, engine)

In [ ]:
###################
# Australia Women #
###################

In [168]:

query = '''
CREATE TABLE aus_w_Player_1_Count AS
SELECT "Player1",count("Player1") as When_Player1_Count
FROM aus_women
GROUP BY "Player1"
ORDER BY count("Player1") DESC;'''

pd.read_sql(query, engine)

ProgrammingError: (psycopg2.errors.DuplicateTable) relation "aus_w_player_1_count" already exists

[SQL:
CREATE TABLE aus_w_Player_1_Count AS
SELECT "Player1",count("Player1") as When_Player1_Count
FROM aus_women
GROUP BY "Player1"
ORDER BY count("Player1") DESC;]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [169]:
query = '''
CREATE TABLE aus_w_Player_2_Count AS
SELECT "Player2",count("Player2") as When_Player2_Count
FROM aus_women
GROUP BY "Player2"
ORDER BY count("Player2") DESC;'''

pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [316]:
query = '''
CREATE TABLE aus_w_matches2 AS SELECT COALESCE(aus_w_Player_2_Count."Player2", aus_w_Player_1_Count."Player1") as id,
"Player2", When_player2_count, "Player1", When_player1_count, COALESCE(when_player2_count,0) + COALESCE(when_player1_count,0) AS Total_Matches
FROM aus_w_Player_2_Count
FULL JOIN aus_w_Player_1_Count ON aus_w_Player_1_Count."Player1" = aus_w_Player_2_Count."Player2"
ORDER BY Total_Matches DESC
;'''
pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [392]:
query = '''
ALTER TABLE aus_w_matches2 
ADD COLUMN initial_and_last VARCHAR; 

'''
pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [393]:
query = '''
UPDATE aus_w_matches2 SET initial_and_last=concat(SUBSTRING(id, 1, 1 ),' ',split_part(id, ' ', 2));
'''
pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [399]:
query = '''
SELECT * FROM aus_w_matches2
;
'''
aus_w_df_players_combined = pd.read_sql(query, engine)
aus_w_df_players_combined.head()

                    id              Player2  when_player2_count              Player1  when_player1_count  total_matches initial_and_last
0                Na Li                Na Li                 1.0                Na Li                 6.0              7             N Li
1   Dominika Cibulkova   Dominika Cibulkova                 5.0   Dominika Cibulkova                 2.0              7      D Cibulkova
2  Agnieszka Radwanska  Agnieszka Radwanska                 1.0  Agnieszka Radwanska                 5.0              6      A Radwanska
3     Eugenie Bouchard     Eugenie Bouchard                 2.0     Eugenie Bouchard                 4.0              6       E Bouchard
4         Ana Ivanovic         Ana Ivanovic                 4.0         Ana Ivanovic                 1.0              5       A Ivanovic

In [317]:
query = '''
SELECT * FROM aus_w_matches2
;
'''
aus_w_df_players_combined = pd.read_sql(query, engine)

In [318]:
aus_w_df_players_combined.head()

                    id              Player2  when_player2_count              Player1  when_player1_count  total_matches
0                Na Li                Na Li                 1.0                Na Li                 6.0              7
1   Dominika Cibulkova   Dominika Cibulkova                 5.0   Dominika Cibulkova                 2.0              7
2  Agnieszka Radwanska  Agnieszka Radwanska                 1.0  Agnieszka Radwanska                 5.0              6
3     Eugenie Bouchard     Eugenie Bouchard                 2.0     Eugenie Bouchard                 4.0              6
4         Ana Ivanovic         Ana Ivanovic                 4.0         Ana Ivanovic                 1.0              5

In [ ]:
# US Open Men
# Incomplete, do not understand where the missing data is for Richard Gasquet

In [230]:

query = '''
CREATE TABLE us_m_Player_1_Count AS
SELECT "Player1",count("Player1") as When_Player1_Count
FROM us_men
GROUP BY "Player1"
ORDER BY count("Player1") DESC;'''

pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [232]:
query = '''
CREATE TABLE us_m_Player_2_Count AS
SELECT "Player2",count("Player2") as When_Player2_Count
FROM us_men
GROUP BY "Player2"
ORDER BY count("Player2") DESC;'''

pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [320]:
query = '''
CREATE TABLE us_m_matches AS SELECT COALESCE(us_m_Player_2_Count."Player2", us_m_Player_1_Count."Player1") as id,
"Player2", When_player2_count, "Player1", When_player1_count, COALESCE(when_player2_count,0) + COALESCE(when_player1_count,0) AS Total_Matches
FROM us_m_Player_2_Count
FULL JOIN us_m_Player_1_Count ON us_m_Player_1_Count."Player1" = us_m_Player_2_Count."Player2"
;'''
pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [325]:
query = '''
SELECT * FROM us_m_matches
ORDER BY Total_Matches DESC
;
'''

us_m_df_players_combined = pd.read_sql(query, engine)

In [388]:
query = '''
ALTER TABLE us_m_matches 
ADD COLUMN initial_and_last VARCHAR; 

'''
pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [389]:
query = '''
UPDATE us_m_matches SET initial_and_last=concat(SUBSTRING(id, 1, 1 ),' ',split_part(id, ' ', 2));
'''
pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [398]:
query = '''
SELECT * FROM us_m_matches
;
'''
us_m_df_players_combined = pd.read_sql(query, engine)
us_m_df_players_combined.head()

                id        Player2  when_player2_count          Player1  when_player1_count  total_matches initial_and_last
0  Richard Gasquet           None                 NaN  Richard Gasquet                 6.0              6        R Gasquet
1   Novak Djokovic           None                 NaN   Novak Djokovic                 6.0              6       N Djokovic
2      Andy Murray           None                 NaN      Andy Murray                 5.0              5         A Murray
3    Roger Federer           None                 NaN    Roger Federer                 4.0              4        R Federer
4    Tommy Robredo  Tommy Robredo                 1.0    Tommy Robredo                 4.0              5        T Robredo

In [326]:
us_m_df_players_combined.shape

(128, 6)

In [328]:
us_m_df_players_combined.head()

                   id             Player2  when_player2_count             Player1  when_player1_count  total_matches
0        Rafael Nadal        Rafael Nadal                 7.0                None                 NaN              7
1      Novak Djokovic                None                 NaN      Novak Djokovic                 6.0              6
2     Richard Gasquet                None                 NaN     Richard Gasquet                 6.0              6
3  Stanislas Wawrinka  Stanislas Wawrinka                 2.0  Stanislas Wawrinka                 4.0              6
4        David Ferrer        David Ferrer                 5.0                None                 NaN              5

In [ ]:
# US Open Women

In [214]:

query = '''
CREATE TABLE us_w_Player_1_Count AS
SELECT "Player 1",count("Player 1") as When_Player1_Count
FROM us_women
GROUP BY "Player 1"
ORDER BY count("Player 1") DESC;'''

pd.read_sql(query, engine)

ProgrammingError: (psycopg2.errors.DuplicateTable) relation "us_w_player_1_count" already exists

[SQL:
CREATE TABLE us_w_Player_1_Count AS
SELECT "Player 1",count("Player 1") as When_Player1_Count
FROM us_women
GROUP BY "Player 1"
ORDER BY count("Player 1") DESC;]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [206]:
query = '''
CREATE TABLE us_w_Player_2_Count AS
SELECT "Player 2",count("Player 2") as When_Player2_Count
FROM us_women
GROUP BY "Player 2"
ORDER BY count("Player 2") DESC;'''

pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [329]:
query = '''
CREATE TABLE us_w_matches AS SELECT COALESCE(us_w_Player_2_Count."Player 2", us_w_Player_1_Count."Player 1") as id,
"Player 2", When_player2_count, "Player 1", When_player1_count, COALESCE(when_player2_count,0) + COALESCE(when_player1_count,0) AS Total_Matches
FROM us_w_Player_2_Count
FULL JOIN us_w_Player_1_Count ON us_w_Player_1_Count."Player 1" = us_w_Player_2_Count."Player 2"
ORDER BY total_matches DESC
;'''
pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [385]:
query = '''
ALTER TABLE us_w_matches 
ADD COLUMN initial_and_last VARCHAR; 

'''
pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [386]:
query = '''
UPDATE us_w_matches SET initial_and_last=concat(SUBSTRING(id, 1, 1 ),' ',split_part(id, ' ', 2));
'''
pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [387]:
query = '''
SELECT * FROM us_w_matches
;
'''
us_w_df_players_combined = pd.read_sql(query, engine)
us_w_df_players_combined.head()

           id    Player 2  when_player2_count    Player 1  when_player1_count  total_matches initial_and_last
0  V Azarenka  V Azarenka                 7.0        None                 NaN              7       V Azarenka
1        N Li        N Li                 6.0        None                 NaN              6             N Li
2  S Williams        None                 NaN  S Williams                 6.0              6       S Williams
3  F Pennetta  F Pennetta                 3.0  F Pennetta                 2.0              5       F Pennetta
4  A Ivanovic        None                 NaN  A Ivanovic                 4.0              4       A Ivanovic

In [330]:
query = '''
SELECT * FROM us_w_matches
;
'''

us_w_df_players_combined = pd.read_sql(query, engine)

In [331]:
us_w_df_players_combined.shape

(81, 6)

In [332]:
us_w_df_players_combined

                    id            Player 2  when_player2_count          Player 1  when_player1_count  total_matches
0           V Azarenka          V Azarenka                 7.0              None                 NaN              7
1                 N Li                N Li                 6.0              None                 NaN              6
2           S Williams                None                 NaN        S Williams                 6.0              6
3           F Pennetta          F Pennetta                 3.0        F Pennetta                 2.0              5
4           A Ivanovic                None                 NaN        A Ivanovic                 4.0              4
5           S Stephens          S Stephens                 4.0              None                 NaN              4
6         D Hantuchova        D Hantuchova                 2.0      D Hantuchova                 2.0              4
7             A Kerber            A Kerber                 4.0              None                 NaN              4
8     C Suarez Navarro    C Suarez Navarro                 3.0  C Suarez Navarro                 1.0              4
9         S Kuznetsova                None                 NaN      S Kuznetsova                 3.0              3
10             S Halep             S Halep                 2.0           S Halep                 1.0              3
11           S Lisicki           S Lisicki                 3.0              None                 NaN              3
12           J Hampton                None                 NaN         J Hampton                 3.0              3
13          J Jankovic                None                 NaN        J Jankovic                 3.0              3
14            L Robson                None                 NaN          L Robson                 3.0              3
15            C McHale            C McHale                 2.0          C McHale                 1.0              3
16            A Cornet                None                 NaN          A Cornet                 3.0              3
17             R Vinci             R Vinci                 2.0           R Vinci                 1.0              3
18             A Riske             A Riske                 1.0           A Riske                 2.0              3
19          E Makarova                None                 NaN        E Makarova                 2.0              2
20    A Pavlyuchenkova    A Pavlyuchenkova                 2.0              None                 NaN              2
21          A Dulgheru          A Dulgheru                 2.0              None                 NaN              2
22            C Giorgi            C Giorgi                 1.0          C Giorgi                 1.0              2
23             J Zheng             J Zheng                 1.0           J Zheng                 1.0              2
24           P Kvitova                None                 NaN         P Kvitova                 2.0              2
25         P Ormaechea                None                 NaN       P Ormaechea                 2.0              2
26            S Errani            S Errani                 2.0              None                 NaN              2
27              S Peng              S Peng                 1.0            S Peng                 1.0              2
28         C Wozniacki                None                 NaN       C Wozniacki                 2.0              2
29        K Mladenovic        K Mladenovic                 1.0      K Mladenovic                 1.0              2
30              K Nara              K Nara                 1.0            K Nara                 1.0              2
31             V Duval             V Duval                 1.0           V Duval                 1.0              2
32          V Williams          V Williams                 1.0        V Williams                 1.0              2
33          E Bouchard          E Bouchard                 1.0        E Bouchard                 1.0              2
34         A.Radwanska                None                 NaN       A.Radwanska                 2.0              2
35          O Rogowska                None                 NaN        O Rogowska                 1.0              1
36         S Arvidsson                None                 NaN       S Arvidsson                 1.0              1
37           S Cirstea           S Cirstea                 1.0              None                 NaN              1
38            S Stosur            S Stosur                 1.0              None                 NaN              1
39    S.Soler-Espinosa    S.Soler-Espinosa                 1.0              None                 NaN              1
40         U Radwanska                None                 NaN       U Radwanska                 1.0              1
41         V Dushevina                None                 NaN       V Dushevina                 1.0              1
42         V Lepchenko                None                 NaN       V Lepchenko                 1.0              1
43              Y Duan              Y Duan                 1.0              None                 NaN              1
44        Y Meusburger        Y Meusburger                 1.0              None                 NaN              1
45          Y Shvedova          Y Shvedova                 1.0              None                 NaN              1
46               M Doi               M Doi                 1.0              None                 NaN              1
47  A Medina Garrigues  A Medina Garrigues                 1.0              None                 NaN              1
48          A Petkovic          A Petkovic                 1.0              None                 NaN              1
49        A Tatishvili        A Tatishvili                 1.0              None                 NaN              1
50       A Tomljanovic       A Tomljanovic                 1.0              None                 NaN              1
51           A Wozniak                None                 NaN         A Wozniak                 1.0              1
52        B Jovanovski                None                 NaN      B Jovanovski                 1.0              1
53            C Garcia            C Garcia                 1.0              None                 NaN              1
54         C Scheepers         C Scheepers                 1.0              None                 NaN              1
55        C Vandeweghe                None                 NaN      C Vandeweghe                 1.0              1
56          C Wozniack                None                 NaN        C Wozniack                 1.0              1
57       D Pfizenmaier                None                 NaN     D Pfizenmaier                 1.0              1
58         E Svitolina         E Svitolina                 1.0              None                 NaN              1
59         F Schiavone         F Schiavone                 1.0              None                 NaN              1
60        G Voskoboeva        G Voskoboeva                 1.0              None                 NaN              1
61            H Watson                None                 NaN          H Watson                 1.0              1
62           J Glushko                None                 NaN         J Glushko                 1.0              1
63           J Goerges                None                 NaN         J Goerges                 1.0              1
64        K Date-Krumm        K Date-Krumm                 1.0              None                 NaN              1
65          K Flipkens                None                 NaN        K Flipkens                 1.0              1
66            K Kanepi                None                 NaN          K Kanepi                 1.0              1
67             K Knapp                None                 NaN           K Knapp                 1.0              1
68          K Pliskova                None                 NaN        K Pliskova                 1.0              1
69      L Arruabarrena      L Arruabarrena                 1.0              None                 NaN              1
70             L Davis                None                 NaN           L Davis                 1.0              1
71    L Dominguez Lino    L Dominguez Lino                 1.0              None                 NaN              1
72          L Hradecka                None                 NaN        L Hradecka                 1.0              1
73           M Barthel           M Barthel                 1.0              None                 NaN              1
74          M Burdette          M Burdette                 1.0              None                 NaN              1
75             A Barty                None                 NaN           A Barty                 1.0              1
76              M Keys              M Keys                 1.0              None                 NaN              1
77         M Kirilenko                None                 NaN       M Kirilenko                 1.0              1
78           M Koehler           M Koehler                 1.0              None                 NaN              1
79           M Minella                None                 NaN         M Minella                 1.0              1
80        O Govortsova                None                 NaN      O Govortsova                 1.0              1

In [ ]:
# French Open Men

In [255]:

query = '''
CREATE TABLE fre_m_Player_1_Count AS
SELECT "Player1",count("Player1") as When_Player1_Count
FROM fre_men
GROUP BY "Player1"
ORDER BY count("Player1") DESC;'''

pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [254]:
query = '''
CREATE TABLE fre_m_Player_2_Count AS
SELECT "Player2",count("Player2") as When_Player2_Count
FROM fre_men
GROUP BY "Player2"
ORDER BY count("Player2") DESC;'''

pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [334]:
query = '''
CREATE TABLE fre_m_matches AS SELECT COALESCE(fre_m_Player_2_Count."Player2", fre_m_Player_1_Count."Player1") as id,
"Player2", When_player2_count, "Player1", When_player1_count,COALESCE(when_player2_count,0) + COALESCE(when_player1_count,0) AS Total_Matches
FROM fre_m_Player_2_Count
FULL JOIN fre_m_Player_1_Count ON fre_m_Player_1_Count."Player1" = fre_m_Player_2_Count."Player2"
ORDER BY Total_Matches DESC
;'''
pd.read_sql(query, engine)

ProgrammingError: (psycopg2.errors.DuplicateTable) relation "fre_m_matches" already exists

[SQL:
CREATE TABLE fre_m_matches AS SELECT COALESCE(fre_m_Player_2_Count."Player2", fre_m_Player_1_Count."Player1") as id,
"Player2", When_player2_count, "Player1", When_player1_count,COALESCE(when_player2_count,0) + COALESCE(when_player1_count,0) AS Total_Matches
FROM fre_m_Player_2_Count
FULL JOIN fre_m_Player_1_Count ON fre_m_Player_1_Count."Player1" = fre_m_Player_2_Count."Player2"
ORDER BY Total_Matches DESC
;]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [382]:
query = '''
ALTER TABLE fre_m_matches 
ADD COLUMN initial_and_last VARCHAR; 

'''
pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [383]:
query = '''
UPDATE fre_m_matches SET initial_and_last=concat(SUBSTRING(id, 1, 1 ),' ',split_part(id, ' ', 2));
'''
pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [384]:
query = '''
SELECT * FROM fre_m_matches
;
'''
fre_m_df_players_combined = pd.read_sql(query, engine)
fre_m_df_players_combined.head()

                   id             Player2  when_player2_count             Player1  when_player1_count  total_matches initial_and_last
0        Rafael Nadal        Rafael Nadal                 1.0        Rafael Nadal                 6.0              7          R Nadal
1        David Ferrer        David Ferrer                 6.0        David Ferrer                 1.0              7         D Ferrer
2  Jo-Wilfried Tsonga  Jo-Wilfried Tsonga                 1.0  Jo-Wilfried Tsonga                 5.0              6         J Tsonga
3      Novak Djokovic                None                 NaN      Novak Djokovic                 6.0              6       N Djokovic
4       Tommy Robredo       Tommy Robredo                 3.0       Tommy Robredo                 2.0              5        T Robredo

In [335]:
query = '''
SELECT * FROM fre_m_matches
;
'''
fre_m_df_players_combined = pd.read_sql(query, engine)

In [336]:
fre_m_df_players_combined.shape

(127, 6)

In [337]:
fre_m_df_players_combined

                          id                  Player2  when_player2_count                 Player1  when_player1_count  total_matches
0               Rafael Nadal             Rafael Nadal                 1.0            Rafael Nadal                 6.0              7
1               David Ferrer             David Ferrer                 6.0            David Ferrer                 1.0              7
2         Jo-Wilfried Tsonga       Jo-Wilfried Tsonga                 1.0      Jo-Wilfried Tsonga                 5.0              6
3             Novak Djokovic                     None                 NaN          Novak Djokovic                 6.0              6
4              Tommy Robredo            Tommy Robredo                 3.0           Tommy Robredo                 2.0              5
5         Stanislas Wawrinka       Stanislas Wawrinka                 1.0      Stanislas Wawrinka                 4.0              5
6                 Tommy Haas               Tommy Haas                 1.0              Tommy Haas                 4.0              5
7              Roger Federer            Roger Federer                 5.0                    None                 NaN              5
8            Richard Gasquet          Richard Gasquet                 4.0                    None                 NaN              4
9            Mikhail Youzhny          Mikhail Youzhny                 1.0         Mikhail Youzhny                 3.0              4
10            Kevin Anderson           Kevin Anderson                 3.0          Kevin Anderson                 1.0              4
11           Nicolas Almagro          Nicolas Almagro                 4.0                    None                 NaN              4
12            Viktor Troicki           Viktor Troicki                 2.0          Viktor Troicki                 2.0              4
13              Gilles Simon                     None                 NaN            Gilles Simon                 4.0              4
14             Kei Nishikori            Kei Nishikori                 4.0                    None                 NaN              4
15           Grigor Dimitrov          Grigor Dimitrov                 3.0                    None                 NaN              3
16            Jerzy Janowicz           Jerzy Janowicz                 3.0                    None                 NaN              3
17           Feliciano Lopez          Feliciano Lopez                 1.0         Feliciano Lopez                 2.0              3
18     Philipp Kohlschreiber    Philipp Kohlschreiber                 3.0                    None                 NaN              3
19               Sam Querrey              Sam Querrey                 3.0                    None                 NaN              3
20             Fabio Fognini            Fabio Fognini                 3.0                    None                 NaN              3
21            Victor Hanescu           Victor Hanescu                 2.0          Victor Hanescu                 1.0              3
22         Nikolay Davydenko        Nikolay Davydenko                 2.0       Nikolay Davydenko                 1.0              3
23              Gael Monfils             Gael Monfils                 1.0            Gael Monfils                 2.0              3
24              Benoit Paire                     None                 NaN            Benoit Paire                 3.0              3
25             Jeremy Chardy            Jeremy Chardy                 3.0                    None                 NaN              3
26               Marin Cilic              Marin Cilic                 3.0                    None                 NaN              3
27                John Isner               John Isner                 3.0                    None                 NaN              3
28          Julien Benneteau                     None                 NaN        Julien Benneteau                 3.0              3
29             Andreas Seppi                     None                 NaN           Andreas Seppi                 3.0              3
30              Milos Raonic                     None                 NaN            Milos Raonic                 3.0              3
31          Somdev Devvarman                     None                 NaN        Somdev Devvarman                 2.0              2
32              Grega Zemlja                     None                 NaN            Grega Zemlja                 2.0              2
33     Roberto Bautista Agut                     None                 NaN   Roberto Bautista Agut                 2.0              2
34             Igor Sijsling                     None                 NaN           Igor Sijsling                 2.0              2
35         Michal Przysiezny                     None                 NaN       Michal Przysiezny                 2.0              2
36         Fernando Verdasco                     None                 NaN       Fernando Verdasco                 2.0              2
37                 Jan Hajek                     None                 NaN               Jan Hajek                 2.0              2
38               Blaz Kavcic              Blaz Kavcic                 1.0             Blaz Kavcic                 1.0              2
39            Evgeny Donskoy           Evgeny Donskoy                 1.0          Evgeny Donskoy                 1.0              2
40           Jarkko Nieminen          Jarkko Nieminen                 1.0         Jarkko Nieminen                 1.0              2
41         Federico Delbonis        Federico Delbonis                 1.0       Federico Delbonis                 1.0              2
42             Denis Istomin            Denis Istomin                 1.0           Denis Istomin                 1.0              2
43              Nick Kyrgios             Nick Kyrgios                 1.0            Nick Kyrgios                 1.0              2
44            Ernests Gulbis           Ernests Gulbis                 1.0          Ernests Gulbis                 1.0              2
45               Lukas Rosol              Lukas Rosol                 1.0             Lukas Rosol                 1.0              2
46                Joao Sousa               Joao Sousa                 1.0              Joao Sousa                 1.0              2
47               Robin Haase              Robin Haase                 1.0             Robin Haase                 1.0              2
48             Ryan Harrison            Ryan Harrison                 1.0           Ryan Harrison                 1.0              2
49                 Jack Sock                Jack Sock                 1.0               Jack Sock                 1.0              2
50             Martin Klizan            Martin Klizan                 1.0           Martin Klizan                 1.0              2
51           Albert Montanes          Albert Montanes                 1.0         Albert Montanes                 1.0              2
52              Tobias Kamke             Tobias Kamke                 1.0            Tobias Kamke                 1.0              2
53              Lukasz Kubot             Lukasz Kubot                 1.0            Lukasz Kubot                 1.0              2
54      Daniel Gimeno-Traver     Daniel Gimeno-Traver                 1.0    Daniel Gimeno-Traver                 1.0              2
55             Lucas Pouille            Lucas Pouille                 1.0           Lucas Pouille                 1.0              2
56    Edouard Roger-Vasselin   Edouard Roger-Vasselin                 1.0  Edouard Roger-Vasselin                 1.0              2
57           Dmitry Tursunov          Dmitry Tursunov                 1.0         Dmitry Tursunov                 1.0              2
58          Horacio Zeballos         Horacio Zeballos                 2.0                    None                 NaN              2
59          Janko Tipsarevic         Janko Tipsarevic                 2.0                    None                 NaN              2
60               Guido Pella              Guido Pella                 2.0                    None                 NaN              2
61              Pablo Cuevas             Pablo Cuevas                 2.0                    None                 NaN              2
62            Michael Llodra           Michael Llodra                 2.0                    None                 NaN              2
63            Leonardo Mayer           Leonardo Mayer                 1.0                    None                 NaN              1
64              Steve Darcis                     None                 NaN            Steve Darcis                 1.0              1
65             Jurgen Melzer            Jurgen Melzer                 1.0                    None                 NaN              1
66             Daniel Brands            Daniel Brands                 1.0                    None                 NaN              1
67              Martin Alund                     None                 NaN            Martin Alund                 1.0              1
68          Adrian Mannarino                     None                 NaN        Adrian Mannarino                 1.0              1
69         Sergiy Stakhovsky                     None                 NaN       Sergiy Stakhovsky                 1.0              1
70           Maxime Teixeira          Maxime Teixeira                 1.0                    None                 NaN              1
71                Ivan Dodig                     None                 NaN              Ivan Dodig                 1.0              1
72             Steve Johnson                     None                 NaN           Steve Johnson                 1.0              1
73           Benjamin Becker                     None                 NaN         Benjamin Becker                 1.0              1
74            Radek Stepanek                     None                 NaN          Radek Stepanek                 1.0              1
75               Jiri Vesely                     None                 NaN             Jiri Vesely                 1.0              1
76               Lukas Lacko                     None                 NaN             Lukas Lacko                 1.0              1
77          Santiago Giraldo         Santiago Giraldo                 1.0                    None                 NaN              1
78              Albert Ramos                     None                 NaN            Albert Ramos                 1.0              1
79             Tomas Berdych                     None                 NaN           Tomas Berdych                 1.0              1
80           Illya Marchenko                     None                 NaN         Illya Marchenko                 1.0              1
81           Michael Russell          Michael Russell                 1.0                    None                 NaN              1
82         Ricardas Berankis        Ricardas Berankis                 1.0                    None                 NaN              1
83             Paolo Lorenzi            Paolo Lorenzi                 1.0                    None                 NaN              1
84           James Duckworth          James Duckworth                 1.0                    None                 NaN              1
85            Lleyton Hewitt           Lleyton Hewitt                 1.0                    None                 NaN              1
86        Jan-Lennard Struff                     None                 NaN      Jan-Lennard Struff                 1.0              1
87       Pablo Carreno-Busta                     None                 NaN     Pablo Carreno-Busta                 1.0              1
88         Marinko Matosevic                     None                 NaN       Marinko Matosevic                 1.0              1
89            Rhyne Williams           Rhyne Williams                 1.0                    None                 NaN              1
90                  Go Soeda                 Go Soeda                 1.0                    None                 NaN              1
91       Alexandr Dolgopolov                     None                 NaN     Alexandr Dolgopolov                 1.0              1
92              David Goffin             David Goffin                 1.0                    None                 NaN              1
93               Denis Kudla              Denis Kudla                 1.0                    None                 NaN              1
94       Rogerio Dutra Silva      Rogerio Dutra Silva                 1.0                    None                 NaN              1
95            Xavier Malisse           Xavier Malisse                 1.0                    None                 NaN              1
96             Pablo Andujar            Pablo Andujar                 1.0                    None                 NaN              1
97        Paul-Henri Mathieu       Paul-Henri Mathieu                 1.0                    None                 NaN              1
98              Aljaz Bedene             Aljaz Bedene                 1.0                    None                 NaN              1
99    Guillermo Garcia-Lopez   Guillermo Garcia-Lopez                 1.0                    None                 NaN              1
100          Guillaume Rufin          Guillaume Rufin                 1.0                    None                 NaN              1
101    Andreas Haider-Maurer                     None                 NaN   Andreas Haider-Maurer                 1.0              1
102             Jesse Levine                     None                 NaN            Jesse Levine                 1.0              1
103            Florent Serra                     None                 NaN           Florent Serra                 1.0              1
104        Marcel Granollers                     None                 NaN       Marcel Granollers                 1.0              1
105  Daniel Munoz-De La Nava  Daniel Munoz-De La Nava                 1.0                    None                 NaN              1
106         Thiemo De Bakker         Thiemo De Bakker                 1.0                    None                 NaN              1
107            Gilles Muller            Gilles Muller                 1.0                    None                 NaN              1
108         Andrey Kuznetsov                     None                 NaN        Andrey Kuznetsov                 1.0              1
109             Marc Gicquel             Marc Gicquel                 1.0                    None                 NaN              1
110              James Blake              James Blake                 1.0                    None                 NaN              1
111            Bernard Tomic                     None                 NaN           Bernard Tomic                 1.0              1
112            Florian Mayer                     None                 NaN           Florian Mayer                 1.0              1
113              Juan Monaco                     None                 NaN             Juan Monaco                 1.0              1
114           Vasek Pospisil                     None                 NaN          Vasek Pospisil                 1.0              1
115           Simone Bolelli                     None                 NaN          Simone Bolelli                 1.0              1
116              Yen-Hsun Lu              Yen-Hsun Lu                 1.0                    None                 NaN              1
117              Jurgen Zopp                     None                 NaN             Jurgen Zopp                 1.0              1
118           Alex Kuznetsov                     None                 NaN          Alex Kuznetsov                 1.0              1
119       Philipp Petzschner                     None                 NaN      Philipp Petzschner                 1.0              1
120           Carlos Berlocq                     None                 NaN          Carlos Berlocq                 1.0              1
121         Marcos Baghdatis         Marcos Baghdatis                 1.0                    None                 NaN              1
122        Kenny De Schepper                     None                 NaN       Kenny De Schepper                 1.0              1
123          Alejandro Falla                     None                 NaN         Alejandro Falla                 1.0              1
124             Andreas Beck                     None                 NaN            Andreas Beck                 1.0              1
125           Julian Reister           Julian Reister                 1.0                    None                 NaN              1
126                Pere Riba                     None                 NaN               Pere Riba                 1.0              1

In [ ]:
# French Open Women

In [191]:

query = '''
CREATE TABLE fre_w_Player_1_Count AS
SELECT "Player1",count("Player1") as When_Player1_Count
FROM fre_women
GROUP BY "Player1"
ORDER BY count("Player1") DESC;'''

pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [192]:
query = '''
CREATE TABLE fre_w_Player_2_Count AS
SELECT "Player2",count("Player2") as When_Player2_Count
FROM fre_women
GROUP BY "Player2"
ORDER BY count("Player2") DESC;'''

pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [338]:
query = '''
CREATE TABLE fre_w_matches4 AS SELECT COALESCE(fre_w_Player_2_Count."Player2", fre_w_Player_1_Count."Player1") as id,
"Player2", When_player2_count, "Player1", When_player1_count, COALESCE(when_player2_count,0) + COALESCE(when_player1_count,0) AS Total_Matches
FROM fre_w_Player_2_Count
FULL JOIN fre_w_Player_1_Count ON fre_w_Player_1_Count."Player1" = fre_w_Player_2_Count."Player2"
ORDER BY total_matches DESC
;'''
fre_w_df_players_combined = pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [377]:
query = '''
ALTER TABLE fre_w_matches4 
ADD COLUMN initial_and_last VARCHAR; 
pd.read_sql(query, engine)
'''
pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [379]:
query = '''
UPDATE fre_w_matches4 SET initial_and_last=concat(SUBSTRING(id, 1, 1 ),' ',split_part(id, ' ', 2));
'''
pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [380]:
query = '''
SELECT * FROM fre_w_matches4
;
'''
fre_w_df_players_combined = pd.read_sql(query, engine)
fre_w_df_players_combined

                             id                  Player2  when_player2_count                     Player1  when_player1_count  total_matches  initial_and_last
0               Maria Sharapova          Maria Sharapova                 7.0                        None                 NaN              7       M Sharapova
1               Serena Williams                     None                 NaN             Serena Williams                 7.0              7        S Williams
2             Victoria Azarenka        Victoria Azarenka                 5.0           Victoria Azarenka                 1.0              6        V Azarenka
3                   Sara Errani              Sara Errani                 6.0                        None                 NaN              6          S Errani
4               Jelena Jankovic          Jelena Jankovic                 1.0             Jelena Jankovic                 4.0              5        J Jankovic
5               Maria Kirilenko          Maria Kirilenko                 4.0             Maria Kirilenko                 1.0              5       M Kirilenko
6           Svetlana Kuznetsova      Svetlana Kuznetsova                 3.0         Svetlana Kuznetsova                 2.0              5      S Kuznetsova
7           Agnieszka Radwanska                     None                 NaN         Agnieszka Radwanska                 5.0              5       A Radwanska
8         Bethanie Mattek-Sands    Bethanie Mattek-Sands                 1.0       Bethanie Mattek-Sands                 3.0              4    B Mattek-Sands
9                  Ana Ivanovic             Ana Ivanovic                 4.0                        None                 NaN              4        A Ivanovic
10                Roberta Vinci            Roberta Vinci                 4.0                        None                 NaN              4           R Vinci
11             Angelique Kerber         Angelique Kerber                 4.0                        None                 NaN              4          A Kerber
12          Francesca Schiavone      Francesca Schiavone                 2.0         Francesca Schiavone                 2.0              4       F Schiavone
13         Carla Suarez Navarro     Carla Suarez Navarro                 3.0        Carla Suarez Navarro                 1.0              4          C Suarez
14                Jamie Hampton            Jamie Hampton                 2.0               Jamie Hampton                 2.0              4         J Hampton
15              Sloane Stephens          Sloane Stephens                 3.0             Sloane Stephens                 1.0              4        S Stephens
16            Dinah Pfizenmaier        Dinah Pfizenmaier                 1.0           Dinah Pfizenmaier                 2.0              3     D Pfizenmaier
17              Paula Ormaechea          Paula Ormaechea                 2.0             Paula Ormaechea                 1.0              3       P Ormaechea
18             Virginie Razzano         Virginie Razzano                 1.0            Virginie Razzano                 2.0              3         V Razzano
19              Marina Erakovic          Marina Erakovic                 1.0             Marina Erakovic                 2.0              3        M Erakovic
20              Samantha Stosur          Samantha Stosur                 3.0                        None                 NaN              3          S Stosur
21               Marion Bartoli                     None                 NaN              Marion Bartoli                 3.0              3         M Bartoli
22                Petra Kvitova                     None                 NaN               Petra Kvitova                 3.0              3         P Kvitova
23               Sabine Lisicki                     None                 NaN              Sabine Lisicki                 3.0              3         S Lisicki
24                 Alize Cornet                     None                 NaN                Alize Cornet                 3.0              3          A Cornet
25            Bojana Jovanovski        Bojana Jovanovski                 2.0           Bojana Jovanovski                 1.0              3      B Jovanovski
26            Varvara Lepchenko                     None                 NaN           Varvara Lepchenko                 3.0              3       V Lepchenko
27               Sorana Cirstea           Sorana Cirstea                 3.0                        None                 NaN              3         S Cirstea
28              Petra Cetkovska          Petra Cetkovska                 1.0             Petra Cetkovska                 2.0              3       P Cetkovska
29                  Monica Puig              Monica Puig                 1.0                 Monica Puig                 2.0              3            M Puig
30             Stefanie Voegele         Stefanie Voegele                 1.0            Stefanie Voegele                 2.0              3         S Voegele
31                    Jie Zheng                Jie Zheng                 1.0                   Jie Zheng                 2.0              3           J Zheng
32    Anna Karolina Schmiedlova                     None                 NaN   Anna Karolina Schmiedlova                 2.0              2        A Karolina
33                   Shuai Peng               Shuai Peng                 1.0                  Shuai Peng                 1.0              2            S Peng
34          Kristina Mladenovic                     None                 NaN         Kristina Mladenovic                 2.0              2      K Mladenovic
35                Melanie Oudin            Melanie Oudin                 1.0               Melanie Oudin                 1.0              2           M Oudin
36             Kirsten Flipkens         Kirsten Flipkens                 2.0                        None                 NaN              2        K Flipkens
37           Caroline Wozniacki                     None                 NaN          Caroline Wozniacki                 2.0              2       C Wozniacki
38                  Kaia Kanepi              Kaia Kanepi                 1.0                 Kaia Kanepi                 1.0              2          K Kanepi
39              Elina Svitolina          Elina Svitolina                 2.0                        None                 NaN              2       E Svitolina
40           Dominika Cibulkova                     None                 NaN          Dominika Cibulkova                 2.0              2       D Cibulkova
41                Zuzana Kucova            Zuzana Kucova                 1.0               Zuzana Kucova                 1.0              2          Z Kucova
42                Shelby Rogers            Shelby Rogers                 1.0               Shelby Rogers                 1.0              2          S Rogers
43            Urszula Radwanska        Urszula Radwanska                 1.0           Urszula Radwanska                 1.0              2       U Radwanska
44                        Na Li                     None                 NaN                       Na Li                 2.0              2              N Li
45                   Vania King                     None                 NaN                  Vania King                 2.0              2            V King
46         Mariana Duque-Marino     Mariana Duque-Marino                 2.0                        None                 NaN              2    M Duque-Marino
47     Anastasia Pavlyuchenkova                     None                 NaN    Anastasia Pavlyuchenkova                 2.0              2  A Pavlyuchenkova
48               Ashleigh Barty                     None                 NaN              Ashleigh Barty                 2.0              2           A Barty
49                  Annika Beck              Annika Beck                 1.0                 Annika Beck                 1.0              2            A Beck
50            Galina Voskoboeva                     None                 NaN           Galina Voskoboeva                 2.0              2      G Voskoboeva
51         Magdalena Rybarikova     Magdalena Rybarikova                 1.0        Magdalena Rybarikova                 1.0              2      M Rybarikova
52      Maria-Teresa Torro-Flor  Maria-Teresa Torro-Flor                 1.0     Maria-Teresa Torro-Flor                 1.0              2      M Torro-Flor
53             Eugenie Bouchard                     None                 NaN            Eugenie Bouchard                 2.0              2        E Bouchard
54             Yulia Putintseva         Yulia Putintseva                 1.0            Yulia Putintseva                 1.0              2      Y Putintseva
55           Mathilde Johansson       Mathilde Johansson                 1.0          Mathilde Johansson                 1.0              2       M Johansson
56              Johanna Larsson          Johanna Larsson                 1.0             Johanna Larsson                 1.0              2         J Larsson
57        Silvia Soler-Espinosa    Silvia Soler-Espinosa                 2.0                        None                 NaN              2  S Soler-Espinosa
58             Mallory Burdette         Mallory Burdette                 1.0            Mallory Burdette                 1.0              2        M Burdette
59              Caroline Garcia          Caroline Garcia                 2.0                        None                 NaN              2          C Garcia
60             Garbine Muguruza         Garbine Muguruza                 2.0                        None                 NaN              2        G Muguruza
61           Yaroslava Shvedova       Yaroslava Shvedova                 2.0                        None                 NaN              2        Y Shvedova
62                 Madison Keys             Madison Keys                 1.0                Madison Keys                 1.0              2            M Keys
63                Jana Cepelova                     None                 NaN               Jana Cepelova                 2.0              2        J Cepelova
64                Aravane Rezai            Aravane Rezai                 1.0                        None                 NaN              1           A Rezai
65                 Mona Barthel                     None                 NaN                Mona Barthel                 1.0              1         M Barthel
66           Chanelle Scheepers                     None                 NaN          Chanelle Scheepers                 1.0              1       C Scheepers
67             Klara Zakopalova                     None                 NaN            Klara Zakopalova                 1.0              1      K Zakopalova
68           Irina-Camelia Begu                     None                 NaN          Irina-Camelia Begu                 1.0              1            I Begu
69             Sandra Zahlavova                     None                 NaN            Sandra Zahlavova                 1.0              1       S Zahlavova
70                 Simona Halep                     None                 NaN                Simona Halep                 1.0              1           S Halep
71                  Karin Knapp                     None                 NaN                 Karin Knapp                 1.0              1           K Knapp
72       Stephanie Foretz Gacon                     None                 NaN      Stephanie Foretz Gacon                 1.0              1          S Foretz
73           Yuliya Beygelzimer                     None                 NaN          Yuliya Beygelzimer                 1.0              1     Y Beygelzimer
74            Kimiko Date-Krumm                     None                 NaN           Kimiko Date-Krumm                 1.0              1      K Date-Krumm
75                Elena Vesnina                     None                 NaN               Elena Vesnina                 1.0              1         E Vesnina
76   Barbora Zahlavova Strycova                     None                 NaN  Barbora Zahlavova Strycova                 1.0              1       B Zahlavova
77            Kristyna Pliskova                     None                 NaN           Kristyna Pliskova                 1.0              1        K Pliskova
78                  Arantxa Rus                     None                 NaN                 Arantxa Rus                 1.0              1             A Rus
79               Irena Pavlovic                     None                 NaN              Irena Pavlovic                 1.0              1        I Pavlovic
80                 Ayumi Morita                     None                 NaN                Ayumi Morita                 1.0              1          A Morita
81            Karolina Pliskova                     None                 NaN           Karolina Pliskova                 1.0              1        K Pliskova
82                Melinda Czink                     None                 NaN               Melinda Czink                 1.0              1           M Czink
83                 Petra Martic                     None                 NaN                Petra Martic                 1.0              1          P Martic
84             Nina Bratchikova                     None                 NaN            Nina Bratchikova                 1.0              1     N Bratchikova
85               Romina Oprandi                     None                 NaN              Romina Oprandi                 1.0              1         R Oprandi
86                Nadia Petrova                     None                 NaN               Nadia Petrova                 1.0              1         N Petrova
87              Flavia Pennetta                     None                 NaN             Flavia Pennetta                 1.0              1        F Pennetta
88             Monica Niculescu                     None                 NaN            Monica Niculescu                 1.0              1       M Niculescu
89                Julia Goerges                     None                 NaN               Julia Goerges                 1.0              1         J Goerges
90              Coco Vandeweghe                     None                 NaN             Coco Vandeweghe                 1.0              1      C Vandeweghe
91                Tatjana Maria                     None                 NaN               Tatjana Maria                 1.0              1           T Maria
92           Pauline Parmentier                     None                 NaN          Pauline Parmentier                 1.0              1      P Parmentier
93                 Su-Wei Hsieh                     None                 NaN                Su-Wei Hsieh                 1.0              1           S Hsieh
94                Tamira Paszek                     None                 NaN               Tamira Paszek                 1.0              1          T Paszek
95                 Kiki Bertens                     None                 NaN                Kiki Bertens                 1.0              1         K Bertens
96                Julia Glushko            Julia Glushko                 1.0                        None                 NaN              1         J Glushko
97               Lesia Tsurenko           Lesia Tsurenko                 1.0                        None                 NaN              1        L Tsurenko
98             Christina McHale         Christina McHale                 1.0                        None                 NaN              1          C McHale
99           Tsvetana Pironkova       Tsvetana Pironkova                 1.0                        None                 NaN              1       T Pironkova
100           Claire Feuerstein        Claire Feuerstein                 1.0                        None                 NaN              1      C Feuerstein
101               Olga Puchkova            Olga Puchkova                 1.0                        None                 NaN              1        O Puchkova
102              Lucie Safarova           Lucie Safarova                 1.0                        None                 NaN              1        L Safarova
103        Mirjana Lucic-Baroni     Mirjana Lucic-Baroni                 1.0                        None                 NaN              1    M Lucic-Baroni
104            Yanina Wickmayer         Yanina Wickmayer                 1.0                        None                 NaN              1       Y Wickmayer
105               Mandy Minella            Mandy Minella                 1.0                        None                 NaN              1         M Minella
106         A. Medina Garrigues      A. Medina Garrigues                 1.0                        None                 NaN              1          A Medina
107          Maria Joao Koehler       Maria Joao Koehler                 1.0                        None                 NaN              1            M Joao
108          Ekaterina Makarova       Ekaterina Makarova                 1.0                        None                 NaN              1        E Makarova
109                Lauren Davis             Lauren Davis                 1.0                        None                 NaN              1           L Davis
110             Anna Tatishvili          Anna Tatishvili                 1.0                        None                 NaN              1      A Tatishvili
111               Camila Giorgi            Camila Giorgi                 1.0                        None                 NaN              1          C Giorgi
112           Andrea Hlavackova        Andrea Hlavackova                 1.0                        None                 NaN              1      A Hlavackova
113              Elena Baltacha           Elena Baltacha                 1.0                        None                 NaN              1        E Baltacha
114      Lourdes Dominguez Lino   Lourdes Dominguez Lino                 1.0                        None                 NaN              1       L Dominguez
115                 Donna Vekic              Donna Vekic                 1.0                        None                 NaN              1           D Vekic
116                Laura Robson             Laura Robson                 1.0                        None                 NaN              1          L Robson
117                Vesna Dolonc             Vesna Dolonc                 1.0                        None                 NaN              1          V Dolonc
118                 Shahar Peer              Shahar Peer                 1.0                        None                 NaN              1            S Peer
119             Sofia Arvidsson          Sofia Arvidsson                 1.0                        None                 NaN              1       S Arvidsson
120              Lucie Hradecka           Lucie Hradecka                 1.0                        None                 NaN              1        L Hradecka
121              Heather Watson           Heather Watson                 1.0                        None                 NaN              1          H Watson
122             Olga Govortsova          Olga Govortsova                 1.0                        None                 NaN              1      O Govortsova
123                   Grace Min                Grace Min                 1.0                        None                 NaN              1             G Min
124           Alexandra Cadantu        Alexandra Cadantu                 1.0                        None                 NaN              1         A Cadantu

In [339]:
query = '''
SELECT * FROM fre_w_matches4
;
'''
fre_w_df_players_combined = pd.read_sql(query, engine)

In [381]:
fre_w_df_players_combined.head()

                  id            Player2  when_player2_count            Player1  when_player1_count  total_matches initial_and_last
0    Maria Sharapova    Maria Sharapova                 7.0               None                 NaN              7      M Sharapova
1    Serena Williams               None                 NaN    Serena Williams                 7.0              7       S Williams
2  Victoria Azarenka  Victoria Azarenka                 5.0  Victoria Azarenka                 1.0              6       V Azarenka
3        Sara Errani        Sara Errani                 6.0               None                 NaN              6         S Errani
4    Jelena Jankovic    Jelena Jankovic                 1.0    Jelena Jankovic                 4.0              5       J Jankovic

In [341]:
fre_w_df_players_combined.shape

(128, 6)

In [ ]:
# Wimbledon Men

In [261]:

query = '''
CREATE TABLE wim_m_Player_1_Count AS
SELECT "Player1",count("Player1") as When_Player1_Count
FROM wim_men
GROUP BY "Player1"
ORDER BY count("Player1") DESC;'''

pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [262]:
query = '''
CREATE TABLE wim_m_Player_2_Count AS
SELECT "Player2",count("Player2") as When_Player2_Count
FROM wim_men
GROUP BY "Player2"
ORDER BY count("Player2") DESC;'''

pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [342]:
query = '''
CREATE TABLE wim_m_matches AS SELECT COALESCE(wim_m_Player_2_Count."Player2", wim_m_Player_1_Count."Player1") as id,
"Player2", When_player2_count, "Player1", When_player1_count,COALESCE(when_player2_count,0) + COALESCE(when_player1_count,0) AS Total_Matches
FROM wim_m_Player_2_Count
FULL JOIN wim_m_Player_1_Count ON wim_m_Player_1_Count."Player1" = wim_m_Player_2_Count."Player2"
ORDER BY total_matches DESC
;'''
wim_m_df_players_combined = pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [343]:
query = '''
SELECT * FROM wim_m_matches
;
'''
wim_m_df_players_combined = pd.read_sql(query, engine)

In [344]:
wim_m_df_players_combined.shape

(127, 6)

In [345]:
wim_m_df_players_combined.head()

            id      Player2  when_player2_count     Player1  when_player1_count  total_matches
0     A.Murray     A.Murray                 7.0        None                 NaN              7
1   N.Djokovic         None                 NaN  N.Djokovic                 7.0              7
2  J.Del Potro  J.Del Potro                 6.0        None                 NaN              6
3   J.Janowicz   J.Janowicz                 3.0  J.Janowicz                 2.0              5
4    T.Berdych    T.Berdych                 5.0        None                 NaN              5

In [ ]:
# Wimbledon Women

In [178]:

query = '''
CREATE TABLE wim_w_Player_1_Count AS
SELECT "Player1",count("Player1") as When_Player1_Count
FROM wim_women
GROUP BY "Player1"
ORDER BY count("Player1") DESC;'''

pd.read_sql(query, engine)

ProgrammingError: (psycopg2.errors.DuplicateTable) relation "wim_w_player_1_count" already exists

[SQL:
CREATE TABLE wim_w_Player_1_Count AS
SELECT "Player1",count("Player1") as When_Player1_Count
FROM wim_women
GROUP BY "Player1"
ORDER BY count("Player1") DESC;]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [179]:
query = '''
CREATE TABLE wim_w_Player_2_Count AS
SELECT "Player2",count("Player2") as When_Player2_Count
FROM wim_women
GROUP BY "Player2"
ORDER BY count("Player2") DESC;'''

pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [347]:
query = '''
CREATE TABLE wim_w_matches AS SELECT COALESCE(wim_w_Player_2_Count."Player2", wim_w_Player_1_Count."Player1") as id,
"Player2", When_player2_count, "Player1", When_player1_count, COALESCE(when_player2_count,0) + COALESCE(when_player1_count,0) AS Total_Matches
FROM wim_w_Player_2_Count
FULL JOIN wim_w_Player_1_Count ON wim_w_Player_1_Count."Player1" = wim_w_Player_2_Count."Player2"
ORDER BY total_matches DESC
;'''
pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [ ]:
query = '''
SELECT * FROM wim_w_matches
;
'''
wim_w_df_players_combined = pd.read_sql(query, engine)

In [348]:
query = '''
ALTER TABLE wim_w_matches 
ADD COLUMN phone VARCHAR; 
;
'''
wim_w_df_players_combined = pd.read_sql(query, engine)

In [ ]:
ALTER TABLE customers 
ADD COLUMN phone VARCHAR;

In [350]:
wim_w_df_players_combined.shape

(128, 6)

In [355]:
wim_w_df_players_combined.head(25)

                    id             Player2  when_player2_count             Player1  when_player1_count  total_matches
0            S.Lisicki           S.Lisicki                 1.0           S.Lisicki                 6.0              7
1            M.Bartoli           M.Bartoli                 2.0           M.Bartoli                 5.0              7
2          A.Radwanska         A.Radwanska                 1.0         A.Radwanska                 5.0              6
3           K.Flipkens          K.Flipkens                 5.0          K.Flipkens                 1.0              6
4                 N.Li                N.Li                 5.0                None                 NaN              5
5           S.Stephens          S.Stephens                 1.0          S.Stephens                 4.0              5
6               M.Puig              M.Puig                 1.0              M.Puig                 3.0              4
7          T.Pironkova         T.Pironkova                 2.0         T.Pironkova                 2.0              4
8              K.Knapp             K.Knapp                 3.0             K.Knapp                 1.0              4
9     C.Suarez Navarro    C.Suarez Navarro                 1.0    C.Suarez Navarro                 3.0              4
10          S.Williams                None                 NaN          S.Williams                 4.0              4
11             R.Vinci                None                 NaN             R.Vinci                 4.0              4
12           P.Kvitova                None                 NaN           P.Kvitova                 4.0              4
13            K.Kanepi            K.Kanepi                 3.0            K.Kanepi                 1.0              4
14        K.Date-Krumm        K.Date-Krumm                 1.0        K.Date-Krumm                 2.0              3
15            S.Stosur            S.Stosur                 3.0                None                 NaN              3
16            L.Robson            L.Robson                 1.0            L.Robson                 2.0              3
17          F.Pennetta          F.Pennetta                 3.0                None                 NaN              3
18          E.Makarova          E.Makarova                 3.0                None                 NaN              3
19          E.Bouchard          E.Bouchard                 1.0          E.Bouchard                 2.0              3
20            A.Cornet                None                 NaN            A.Cornet                 3.0              3
21              M.Keys              M.Keys                 2.0              M.Keys                 1.0              3
22  M.Larcher De Brito  M.Larcher De Brito                 1.0  M.Larcher De Brito                 2.0              3
23         P.Cetkovska         P.Cetkovska                 1.0         P.Cetkovska                 2.0              3
24            V.Dolonc            V.Dolonc                 2.0            V.Dolonc                 1.0              3

In [ ]:
#############################################################################
#############################################################################

In [ ]:
# 2a. Who is player with most matches played? - Women

In [ ]:
wim_w_matches
us_w_matches
fre_w_matches
aus_w_matches

In [401]:
query = '''
SELECT COALESCE(us_w_matches.initial_and_last,fre_w_matches4.initial_and_last,
aus_w_matches2.initial_and_last) as new_id,
us_w_matches.total_matches AS us_total,fre_w_matches4.total_matches AS fre_total, 
aus_w_matches2.total_matches AS aus_total,
COALESCE(us_w_matches.total_matches,0) 
+ COALESCE(fre_w_matches4.total_matches,0) + COALESCE(aus_w_matches2.total_matches,0)
AS Cross_Tourn_Total_Matches
FROM us_w_matches
FULL JOIN fre_w_matches4
ON fre_w_matches4.initial_and_last = us_w_matches.initial_and_last
FULL JOIN aus_w_matches2
ON aus_w_matches2.initial_and_last = fre_w_matches4.initial_and_last


ORDER BY Cross_Tourn_Total_Matches DESC
;'''
all_tourn_combined = pd.read_sql(query, engine)

In [402]:
all_tourn_combined.shape

(177, 5)

In [404]:
all_tourn_combined.head(10)

        new_id  us_total  fre_total  aus_total  cross_tourn_total_matches
0   V Azarenka       7.0        6.0        5.0                         18
1   S Williams       6.0        7.0        4.0                         17
2         N Li       6.0        2.0        7.0                         15
3   A Ivanovic       4.0        4.0        5.0                         13
4     A Kerber       4.0        4.0        4.0                         12
5   S Stephens       4.0        4.0        4.0                         12
6   J Jankovic       3.0        5.0        4.0                         12
7  A Radwanska       NaN        5.0        6.0                         11
8   F Pennetta       5.0        1.0        5.0                         11
9  M Sharapova       NaN        7.0        4.0                         11

In [403]:
wim_w_df_players_combined.head(10)

                 id           Player2  when_player2_count           Player1  when_player1_count  total_matches
0         S.Lisicki         S.Lisicki                 1.0         S.Lisicki                 6.0              7
1         M.Bartoli         M.Bartoli                 2.0         M.Bartoli                 5.0              7
2       A.Radwanska       A.Radwanska                 1.0       A.Radwanska                 5.0              6
3        K.Flipkens        K.Flipkens                 5.0        K.Flipkens                 1.0              6
4              N.Li              N.Li                 5.0              None                 NaN              5
5        S.Stephens        S.Stephens                 1.0        S.Stephens                 4.0              5
6            M.Puig            M.Puig                 1.0            M.Puig                 3.0              4
7       T.Pironkova       T.Pironkova                 2.0       T.Pironkova                 2.0              4
8           K.Knapp           K.Knapp                 3.0           K.Knapp                 1.0              4
9  C.Suarez Navarro  C.Suarez Navarro                 1.0  C.Suarez Navarro                 3.0              4

In [357]:
aus_w_df_players_combined.head(10)

                    id              Player2  when_player2_count              Player1  when_player1_count  total_matches
0                Na Li                Na Li                 1.0                Na Li                 6.0              7
1   Dominika Cibulkova   Dominika Cibulkova                 5.0   Dominika Cibulkova                 2.0              7
2  Agnieszka Radwanska  Agnieszka Radwanska                 1.0  Agnieszka Radwanska                 5.0              6
3     Eugenie Bouchard     Eugenie Bouchard                 2.0     Eugenie Bouchard                 4.0              6
4         Ana Ivanovic         Ana Ivanovic                 4.0         Ana Ivanovic                 1.0              5
5    Victoria Azarenka    Victoria Azarenka                 5.0                 None                 NaN              5
6         Simona Halep         Simona Halep                 4.0         Simona Halep                 1.0              5
7      Flavia Pennetta      Flavia Pennetta                 2.0      Flavia Pennetta                 3.0              5
8      Casey Dellacqua      Casey Dellacqua                 1.0      Casey Dellacqua                 3.0              4
9      Maria Sharapova      Maria Sharapova                 4.0                 None                 NaN              4

In [358]:
us_w_df_players_combined.head(10)

                 id          Player 2  when_player2_count          Player 1  when_player1_count  total_matches
0        V Azarenka        V Azarenka                 7.0              None                 NaN              7
1              N Li              N Li                 6.0              None                 NaN              6
2        S Williams              None                 NaN        S Williams                 6.0              6
3        F Pennetta        F Pennetta                 3.0        F Pennetta                 2.0              5
4        A Ivanovic              None                 NaN        A Ivanovic                 4.0              4
5        S Stephens        S Stephens                 4.0              None                 NaN              4
6      D Hantuchova      D Hantuchova                 2.0      D Hantuchova                 2.0              4
7          A Kerber          A Kerber                 4.0              None                 NaN              4
8  C Suarez Navarro  C Suarez Navarro                 3.0  C Suarez Navarro                 1.0              4
9      S Kuznetsova              None                 NaN      S Kuznetsova                 3.0              3

In [359]:
fre_w_df_players_combined.head(10)

                      id                Player2  when_player2_count                Player1  when_player1_count  total_matches
0        Maria Sharapova        Maria Sharapova                 7.0                   None                 NaN              7
1        Serena Williams                   None                 NaN        Serena Williams                 7.0              7
2      Victoria Azarenka      Victoria Azarenka                 5.0      Victoria Azarenka                 1.0              6
3            Sara Errani            Sara Errani                 6.0                   None                 NaN              6
4        Jelena Jankovic        Jelena Jankovic                 1.0        Jelena Jankovic                 4.0              5
5        Maria Kirilenko        Maria Kirilenko                 4.0        Maria Kirilenko                 1.0              5
6    Svetlana Kuznetsova    Svetlana Kuznetsova                 3.0    Svetlana Kuznetsova                 2.0              5
7    Agnieszka Radwanska                   None                 NaN    Agnieszka Radwanska                 5.0              5
8  Bethanie Mattek-Sands  Bethanie Mattek-Sands                 1.0  Bethanie Mattek-Sands                 3.0              4
9           Ana Ivanovic           Ana Ivanovic                 4.0                   None                 NaN              4

In [360]:
query = '''
CREATE TABLE fre_w_matches_copy AS SELECT * FROM fre_w_matches
;'''
pd.read_sql(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [361]:
query = '''
SELECT * FROM fre_w_matches_copy
;
'''
fre_w_matches_copy = pd.read_sql(query, engine)

In [362]:
fre_w_matches_copy.head()

                      id                Player2  when_player2_count                Player1  when_player1_count
0        Jelena Jankovic        Jelena Jankovic                   1        Jelena Jankovic                 4.0
1  Bethanie Mattek-Sands  Bethanie Mattek-Sands                   1  Bethanie Mattek-Sands                 3.0
2          Jamie Hampton          Jamie Hampton                   2          Jamie Hampton                 2.0
3        Petra Cetkovska        Petra Cetkovska                   1        Petra Cetkovska                 2.0
4    Svetlana Kuznetsova    Svetlana Kuznetsova                   3    Svetlana Kuznetsova                 2.0

In [376]:
query = '''
SELECT COALESCE(us_w_matches.id,concat(SUBSTRING(fre_w_matches4.id, 1, 1 ),' ',split_part(fre_w_matches4.id, ' ', 2)),
concat(SUBSTRING(aus_w_matches.id, 1, 1 ),' ',split_part(aus_w_matches.id, ' ', 2))) as new_id,
us_w_matches.total_matches AS us_total,
fre_w_matches4.total_matches AS fre_total, aus_w_matches2.total_matches AS aus_total,
COALESCE(us_w_matches.total_matches,0) + COALESCE(fre_w_matches4.total_matches,0)
+ COALESCE(aus_w_matches2.total_matches,0) AS Cross_Tourn_Total_Matches
FROM us_w_matches
FULL JOIN fre_w_matches4
ON fre_w_matches4.id = us_w_matches.id
FULL JOIN aus_w_matches2
ON aus_w_matches2.id = fre_w_matches4.id


ORDER BY Cross_Tourn_Total_Matches DESC
;'''
all_tourn_combined = pd.read_sql(query, engine)

ProgrammingError: (psycopg2.errors.UndefinedTable) missing FROM-clause entry for table "aus_w_matches"
LINE 3: concat(SUBSTRING(aus_w_matches.id, 1, 1 ),' ',split_part(aus...
                         ^

[SQL:
SELECT COALESCE(us_w_matches.id,concat(SUBSTRING(fre_w_matches4.id, 1, 1 ),' ',split_part(fre_w_matches4.id, ' ', 2)),
concat(SUBSTRING(aus_w_matches.id, 1, 1 ),' ',split_part(aus_w_matches.id, ' ', 2))) as new_id,
us_w_matches.total_matches AS us_total,
fre_w_matches4.total_matches AS fre_total, aus_w_matches2.total_matches AS aus_total,
COALESCE(us_w_matches.total_matches,0) + COALESCE(fre_w_matches4.total_matches,0)
+ COALESCE(aus_w_matches2.total_matches,0) AS Cross_Tourn_Total_Matches
FROM us_w_matches
FULL JOIN fre_w_matches4
ON fre_w_matches4.id = us_w_matches.id
FULL JOIN aus_w_matches2
ON aus_w_matches2.id = fre_w_matches4.id


ORDER BY Cross_Tourn_Total_Matches DESC
;]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [ ]:
concat(SUBSTRING(aus_w_matches.id, 1, 1 ),' ',split_part(aus_w_matches.id, ' ', 2)) as aus.initial_and_last
concat(SUBSTRING(fre_w_matches4.id, 1, 1 ),' ',split_part(fre_w_matches4.id, ' ', 2)) as initial_and_last
concat(SUBSTRING(id, 1, 1 ),' ',split_part(id, ' ', 2)) as initial_and_last
concat(SUBSTRING(id, 1, 1 ),' ',split_part(id, ' ', 2)) as initial_and_last

In [372]:
query = '''
SELECT id, concat(SUBSTRING(id, 1, 1 ),' ',split_part(id, ' ', 2)) 
as initial_and_last FROM fre_w_matches_copy
;
'''
fre_w_matches_copy = pd.read_sql(query, engine)

In [373]:
fre_w_matches_copy.head()

                      id initial_and_last
0        Jelena Jankovic       J Jankovic
1  Bethanie Mattek-Sands   B Mattek-Sands
2          Jamie Hampton        J Hampton
3        Petra Cetkovska      P Cetkovska
4    Svetlana Kuznetsova     S Kuznetsova

In [ ]:
# 2b. Who is player with most matches played? - Men

In [ ]:
wim_m_matches
us_m_matches
fre_m_matches
aus_m_matches

In [406]:
query = '''
SELECT COALESCE(us_m_matches.initial_and_last,fre_m_matches.initial_and_last,
aus_m_matches.initial_and_last) as new_id,
us_m_matches.total_matches AS us_total,fre_m_matches.total_matches AS fre_total, 
aus_m_matches.total_matches AS aus_total,
COALESCE(us_m_matches.total_matches,0) 
+ COALESCE(fre_m_matches.total_matches,0) + COALESCE(aus_m_matches.total_matches,0)
AS Cross_Tourn_Total_Matches
FROM us_m_matches
FULL JOIN fre_m_matches
ON fre_m_matches.initial_and_last = us_m_matches.initial_and_last
FULL JOIN aus_m_matches
ON aus_m_matches.initial_and_last = fre_m_matches.initial_and_last


ORDER BY Cross_Tourn_Total_Matches DESC
;'''
all_tourn_combined_men = pd.read_sql(query, engine)

In [407]:
all_tourn_combined_men.head(10)

       new_id  us_total  fre_total  aus_total  cross_tourn_total_matches
0     R Nadal       7.0        7.0        7.0                         21
1  S Wawrinka       6.0        5.0        6.0                         17
2    D Ferrer       5.0        7.0        5.0                         17
3  N Djokovic       6.0        6.0        5.0                         17
4   R Federer       4.0        5.0        6.0                         15
5   T Robredo       5.0        5.0        4.0                         14
6   R Gasquet       6.0        4.0        3.0                         13
7   M Youzhny       5.0        4.0        2.0                         11
8   T Berdych       4.0        1.0        6.0                         11
9    M Raonic       4.0        3.0        3.0                         10

In [269]:
query = '''
SELECT *
FROM wim_w_Player_2_Count;'''

wim_w_df = pd.read_sql(query, engine)

In [270]:
wim_w_df

                 Player2  when_player2_count
0                   N.Li                   5
1             K.Flipkens                   5
2            D.Cibulkova                   3
3               S.Stosur                   3
4             F.Pennetta                   3
5             E.Makarova                   3
6               K.Kanepi                   3
7                K.Knapp                   3
8            T.Pironkova                   2
9                 M.Keys                   2
10            A.Ivanovic                   2
11            A.Petkovic                   2
12             M.Bartoli                   2
13        M.Lucic-Baroni                   2
14                S.Peng                   2
15           M.Johansson                   2
16              V.Dolonc                   2
17                A.Beck                   2
18           M.Sharapova                   2
19             M.Barthel                   2
20           C.Wozniacki                   2
21             S.Cirstea                   2
22           E.Birnerova                   2
23            J.Cepelova                   2
24              P.Martic                   2
25            M.Erakovic                   2
26              A.Kerber                   1
27          M.Rybarikova                   1
28             N.Petrova                   1
29          K.Date-Krumm                   1
30          A.Keothavong                   1
31                 M.Doi                   1
32              S.Murray                   1
33              C.McHale                   1
34               M.Oudin                   1
35             J.Goerges                   1
36            E.Bouchard                   1
37           V.Lepchenko                   1
38              T.Paszek                   1
39               T.Moore                   1
40  B.Zahlavova Strycova                   1
41           F.Schiavone                   1
42    M.Larcher De Brito                   1
43           C.Scheepers                   1
44           P.Cetkovska                   1
45                 A.Rus                   1
46                M.Puig                   1
47      L.Dominguez Lino                   1
48            S.Stephens                   1
49           U.Radwanska                   1
50              A.Glatch                   1
51               A.Riske                   1
52             S.Lisicki                   1
53               J.Zheng                   1
54          B.Jovanovski                   1
55               J.Konta                   1
56              C.Garcia                   1
57      S.Soler-Espinosa                   1
58            L.Tsurenko                   1
59            V.Azarenka                   1
60            Y.Shvedova                   1
61               S.Halep                   1
62           C.Witthoeft                   1
63             M.Minella                   1
64               T.Maria                   1
65          G.Voskoboeva                   1
66           E.Svitolina                   1
67              C.Giorgi                   1
68                I.Begu                   1
69           Ka.Pliskova                   1
70           A.Radwanska                   1
71          D.Hantuchova                   1
72             A.Cadantu                   1
73              L.Robson                   1
74      C.Suarez Navarro                   1
75             S-W.Hsieh                   1
76               L.Davis                   1
77          A.Hlavackova                   1
78                V.King                   1
79             E.Vesnina                   1
80          C.Vandeweghe                   1
81             J.Hampton                   1
82          Y.Meusburger                   1
83               D.Vekic                   1